:root{
    --h2-color: black;
    --grey: #7A7A7A;
    --lightgrey: #C6C6C6;
    --yellow: #FFD15B;

    --manrope-police: "Manrope", sans-serif;
    --anton-police: "Anton", sans-serif;
}

body{
    width: 1440px;
    margin: 0 auto;
    background-color: #EDEDED;
}

header{
    height: 670px;
    background-image: url("assets/images/fond-header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -100px;
    padding: 50px;
}

header p{
    color: var(--yellow);
    font-family: var(--anton-police);
    font-size: 44px;
    text-align: center;
    margin-top: 200px;
}

.search{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.main__field{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 30px;
}

.search span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: black;
    right: 10px;
    top: 10px;
}

.search .fa-xmark{
    display: none;
    position: absolute;
    right: 80px;
    top: 20px;
    font-size: 30px;
    color: var(--grey);
}

.search .fa-magnifying-glass{
    color: white;
    font-size: 30px;
}

.search span:hover{
    background-color: var(--yellow);
}

.search span:hover > .fa-magnifying-glass{
    color: black;
}


/* filter section */
.filters__result{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.filters__tags{
    display: flex;
}

.filter{
    height: fit-content;
    width: 195px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 50px;
    background-color: #FFF;
}

.filter label{
    padding: 20px;
    font-family: var(--manrope-police);
    display: flex;
    justify-content: space-between;
}

.input__block{
    display: flex;
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.input__block .fa-solid{
    position: absolute;
    color: var(--lightgrey);
}

.filter .fa-xmark{
    display: none;
    top: 12px;
    right: 40px;
    font-size: 14px;
}

.filter .fa-magnifying-glass{
    top: 12px;
    right: 20px;
    font-size: 16px;
}

.filter input{
    width: 100%;
    border: 1px solid var(--lightgrey);
    color: var(--grey);
    height: 35px;
    font-size: 14px;
}

.filter input:focus{
    outline: none;
}

.filter span,
.filter ul{
    display: none;
}

.filters__result .result{
    font-family: var(--anton-police);
}

.filters__result ul{
    padding: 0;
    margin-bottom: 0;
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll ;
}

.filters__result li{
    padding: 10px 20px;
    list-style-type: none;
    display: block;
    font-family: var(--manrope-police);
}

.filters__result li:hover{
    background-color: var(--yellow);
}

.filter label,
.filters__result li,
.tag .fa-xmark{
    cursor: pointer;
}

.tags{
    margin-top: 20px;
}

.tag{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    border-radius: 10px;
    background-color: var(--yellow);
    padding: 20px;
    box-sizing: border-box;
}

.tag p{
    margin: 0;
    font-family: var(--manrope-police)
}

.filters__result,
.recipes{
    padding: 0 50px;
}

/* recipes section */
.recipes{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    margin: 50px auto;
}

.recipe{
    width: 380px;
    border-radius: 20px;
    background-color: #FFF;
    margin-bottom: 50px;
}

.img__time{
    position: relative;
}

.time{
    margin: 0;
    padding: 10px 15px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--yellow);
    font-family: var(--manrope-police);
    border-radius: 15px;
}

.recipe img{
    object-fit: cover;
    width: 380px;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.recipe h3,
.recipe p,
.ingredient__name,
.ingredient__quantity
{
    font-family: var(--manrope-police);
}

.recipe h2{
    font-size: 18px;
    font-family:var(--anton-police);
    font-weight: 400;
    margin: 0;
    padding: 20px;
    padding-bottom: 0px;

}

.recipe__details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recipe h3{
    font-size: 12px;
    color: var(--grey);
    font-weight: 800;
}

.recipe p{
    font-size: 14px;
    margin: 0;
}

.recipe__description{
    margin-bottom: 20px;
}

.ingredients{
    display: flex;
    flex-wrap: wrap;
}

.ingredient:nth-child(2n+1){
    margin-right: 10px;
}

.ingredient{
    width: 45%;
    margin-bottom: 10px;
}

.ingredient__quantity{
    color: var(--grey);
}

.no_ressult p{
    margin-bottom: 100px;
    padding: 0 50px;
    display: none;
    font-family: var(--manrope-police);
    font-size: 30px;
    font-weight: bold;
}